<h1>MIS 438 Class Updates and News</h1>

<iframe src="http://www.google.com/calendar/embed?" style="border: 0" width="490" height="500" frameborder="0" scrolling="no"></iframe>

<%= render :partial => "posts/post", :collection => @posts %>