<h1>MIS 438 Class Updates and News</h1>

<iframe src="http://www.google.com/calendar/embed?src=0gk9crbdp1j2sar0ik235gvko8%40group.calendar.google.com&#38;ctz=America/Chicago" style="border: 0" width="490" height="400" frameborder="0" scrolling="no"></iframe>
<br />
<br />
<%= render :partial => "posts/post", :collection => @posts %>