<h2>File Submission</h2>

<table>
  <tr>
  </tr>

<% @document.each do |document| %>
  <tr>
  	<td><%= document.file_file_name %></td>
   	<td><%= link_to 'Open', document.file.url %></td>
    <td><%= link_to 'Edit', edit_document_path(document) %></td>
    <td><%= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>