<p>
  <b>Threesixty name:</b>
  <%=h @threesixty.threesixty_name %>
</p>

<p>
  <b>Threesixty intro:</b>
  <%=h @threesixty.threesixty_intro %>
</p>


<%= link_to 'Edit', edit_threesixty_path(@threesixty) %> |
<%= link_to 'Back', threesixties_path %>