<div id="primarycontent">

	<div class="post">
		<div class="header">
			<h2><%= link_to post.title, :controller => 'posts', :action => 'show' %></h2>
			<div class="date"><%= display_date(post.created_at) %></div>
		</div>
		<div class="content">
			<p><%= post.body %></p>
		</div>			
	</div>
	
</div>