<p>
  <b>Question text:</b>
  <%=h @question360.question_text %>
</p>

<p>
  <b>Question:</b>
  <%=h @question360.question %>
</p>


<%= link_to 'Edit', edit_question360_path(@question360) %> |
<%= link_to 'Back', question360s_path %>