<div id="primarycontent">

	<!-- primary content start -->
	<div class="post">
		<div class="header">
			<h3>Class Calendar</h3>
			<div class="date">July 31, 2006</div>
		</div>
		<div class="content">
		<p><iframe src="http://www.google.com/calendar/embed?src=v3ct9vbthonn8nlla8tjv34nrs%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="475" height="400" frameborder="0" scrolling="no"></iframe></p>
		</div>			
		<div class="footer">
			<ul>
				<li class="printerfriendly"><a href="#">Printer Friendly</a></li>
				<li class="comments"><a href="#">Comments (18)</a></li>
				<li class="readmore"><a href="#">Read more</a></li>
			</ul>
		</div>
	</div>


	<div class="post">
		<div class="header">
			<h3>News And Updates</h3>
			<div class="date">August 1, 2006</div>
		</div>
		<div class="content">
			<img src="../../images/pic1.jpg" class="picA floatleft" alt="" />
			<p>Log-in at the <a href="https://portal.iastate.edu/thinkspace">ThinkSpace portal</a>.</p>

			<p>After that, select your previously created project under the “my Spaces” section (this should open a new tab).</p>

			<p>Under the “Assignments” tab, select your previously created “Deliverables” assignment (this should open a small window).</p>

			<p>Create a “Phase” for each of the following:
			Version Concept
			Version 1
			Version 2
			Version Final
			Do this by right-clicking on the header of the “Deliverables” assignment (the area the mouse pointer, scissors, pencil, etc are located) and selecting Phase, then Add.</p>

			<p>In the window that opens up make sure the phase type is HTML Content with Resource List. Name it for the version you’re adding. Do this for each of the versions.</p>

			<p>Click on the Version Concept tab. The window should be divided in two parts. On the left side, it should have a heading saying “right-click to add a resource.”</p>

			<p>When you add a resource via this method, you will give it a name and one of the following categories:
			Presentation
			Source Code
			Documentation
			Client Meeting
			Miscellaneous
			Do not forget to categorize each item you upload!</p>
		</div>			
		<div class="footer">
			<ul>
				<li class="printerfriendly"><a href="#">Printer Friendly</a></li>
				<li class="comments"><a href="#">Comments (18)</a></li>
				<li class="readmore"><a href="#">Read more</a></li>
			</ul>
		</div>
	</div>

	<div class="post">
		<div class="header">
			<h3>RSS Feed Updated</h3>
			<div class="date">July 31, 2006</div>
		</div>
		<div class="content">
			<p>Just letting you know I changed the RSS feed over to the News and Alerts section. It should now be functional when we post new news/alerts.</p>
		</div>			
		<div class="footer">
			<ul>
				<li class="printerfriendly"><a href="#">Printer Friendly</a></li>
				<li class="comments"><a href="#">Comments (18)</a></li>
				<li class="readmore"><a href="#">Read more</a></li>
			</ul>
		</div>
	</div>

	<div class="post">
		<div class="header">
			<h3>Class News and Alerts</h3>
			<div class="date">July 31, 2006</div>
		</div>
		<div class="content">
			<p>Homework due on 1/25/10:</p>
			<p>RoR worksheet 2</p>
			<p>Role contracts – first draft</p>
		</div>			
		<div class="footer">
			<ul>
				<li class="printerfriendly"><a href="#">Printer Friendly</a></li>
				<li class="comments"><a href="#">Comments (18)</a></li>
				<li class="readmore"><a href="#">Read more</a></li>
			</ul>
		</div>
	</div>

	<!-- primary content end -->

</div>