<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Untitled Document</title>
	</head>
	<body>
		<iframe src="http://docs.google.com/viewer?url=http%3A%2F%2Fbus01.bus.iastate.edu%3A3000%2Fassets%2F2010%2F1%2F25%2FMIS438_Spring2010_Syllabus.pdf&embedded=true" width="480" height="780" style="border: none;"></iframe>
	</body>
</html>
